@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  height: 100vh;
  font-family: "Rubik Microbe", cursive;
}

html {
  font-size: 62.5%;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  height: 10vh;
  padding: 1rem 2rem;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.logo {
  font-style: italic;
}

ul {
  list-style-type: none;
}

.navigation {
  display: flex;
  gap: 2rem;
}

.hero-image {
  max-width: 75rem;
  height: auto;
}

.cta {
  padding: 1rem;
}

.btn {
  padding: 1.2rem 3rem;
  cursor: pointer;
  border: 0.3rem solid rgba(230, 125, 34, 0.939);
  border-radius: 2rem;
  max-width: 70%;
  margin: 0 auto;
  color: black;
  font-size: 1.8rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
}

.hero-img-container {
  background-image: linear-gradient(
      to right bottom,
      rgba(165, 84, 13, 0.495),
      rgba(230, 125, 34, 0.524)
    ),
    url("../images/steak.jpg");
  height: 90vh;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
}

.information {
  position: absolute;
  top: 40%;
  transform: translateX(50%);
  right: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Rubik Microbe", cursive;
}

.information h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
  margin-bottom: 2.5rem;
  border: 0.5rem solid #e67d22ef;
  padding: 1rem;
  box-shadow: 10px 5px 5px #e67d22ef;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  width: 70%;
  margin: 2rem auto;
}

.menu img {
  max-width: 100%;
}

.writing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 1rem;
}

.writing button {
  align-self: flex-end;
  padding: 0.6rem 2rem;
  cursor: pointer;
  border: 0.3rem solid #e67d22ef;
  border-radius: 1rem;
  color: black;
  font-size: 1.8rem;
  background-color: transparent;
  font-weight: bolder;
}

.menu h2,
.menu .price {
  font-size: 2rem;
}

.menu p {
  font-size: 1.2rem;
}

.price {
  font-size: 10rem;
  font-weight: bold;
}

header .active {
  text-decoration: underline;
  background-color: #e67d2286;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  border: 1rem solid #e67d2286;
  padding: 2rem;
  max-width: 100rem;
  margin: 5rem auto;
}

.left-contact {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-items: center;
}

.left-contact img,
footer img {
  width: 2rem;
}
.contact-info li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

input,
textarea {
  padding: 1rem 2rem 1rem 1rem;
  margin: 1rem 1rem 1rem 0;
  border: 0.1rem solid grey;
  border-radius: 1rem;
  outline: none;
}

label {
  text-transform: uppercase;
  font-weight: bold;
}

input:focus {
  box-shadow: 0 0 1.5rem 0.4rem rgba(12, 11, 11, 0.06);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form button {
  padding: 1rem 5rem;
  width: 100%;
  background-color: #e67d2286;
  border-radius: 1rem;
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
  border: none;
}

.form button:hover {
  border: 0.2rem solid #e67d2286;
  color: black;
  background-color: white;
}

.hide {
  display: none;
}

footer {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}

footer p {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
